project-runpy==0.3.1

# mvl generator
Django==1.6.10
dj-database-url==0.3.0
django-extensions==1.4.9

# csv downloader
docopt==0.6.2
requests==2.5.1
selenium==2.44.0

# heroku support
psycopg2==2.5.4
whitenoise==1.0.6
gunicorn==19.1.1
